<%= form_with(model: state, local: true) do |form| %>
  <% if state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(state.errors.count, "error") %> prohibited this state from being saved:</h2>

      <ul>
      <% state.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp %>
  </div>

  <div class="field">
    <%= form.label :hum %>
    <%= form.text_field :hum %>
  </div>

  <div class="field">
    <%= form.label :air %>
    <%= form.text_field :air %>
  </div>

  <div class="field">
    <%= form.label :smk %>
    <%= form.text_field :smk %>
  </div>

  <div class="field">
    <%= form.label :rgb1 %>
    <%= form.text_field :rgb1 %>
  </div>

  <div class="field">
    <%= form.label :rbg2 %>
    <%= form.text_field :rbg2 %>
  </div>

  <div class="field">
    <%= form.label :c %>
    <%= form.number_field :c %>
  </div>

  <div class="field">
    <%= form.label :st1 %>
    <%= form.number_field :st1 %>
  </div>

  <div class="field">
    <%= form.label :st2 %>
    <%= form.number_field :st2 %>
  </div>

  <div class="field">
    <%= form.label :s1 %>
    <%= form.number_field :s1 %>
  </div>

  <div class="field">
    <%= form.label :s2 %>
    <%= form.number_field :s2 %>
  </div>

  <div class="field">
    <%= form.label :s3 %>
    <%= form.number_field :s3 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
