<p id="notice"><%= notice %></p>

<p>
  <strong>Temp:</strong>
  <%= @state.temp %>
</p>

<p>
  <strong>Hum:</strong>
  <%= @state.hum %>
</p>

<p>
  <strong>Air:</strong>
  <%= @state.air %>
</p>

<p>
  <strong>Smk:</strong>
  <%= @state.smk %>
</p>

<p>
  <strong>Rgb1:</strong>
  <%= @state.rgb1 %>
</p>

<p>
  <strong>Rbg2:</strong>
  <%= @state.rbg2 %>
</p>

<p>
  <strong>C:</strong>
  <%= @state.c %>
</p>

<p>
  <strong>St1:</strong>
  <%= @state.st1 %>
</p>

<p>
  <strong>St2:</strong>
  <%= @state.st2 %>
</p>

<p>
  <strong>S1:</strong>
  <%= @state.s1 %>
</p>

<p>
  <strong>S2:</strong>
  <%= @state.s2 %>
</p>

<p>
  <strong>S3:</strong>
  <%= @state.s3 %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
