<!DOCTYPE html>
<html>
  <head>
    <title>Estados</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="<%= root_path %>">Tabla de Datos</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="<%= graphs_index_path %>">Gráficos</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
